#Ignoring all build files that go into the binary folder
bin/*

# Python junk
*.pyc

# Ignoring all data files
output/*
output_run1/*
output_run2/*
output*/*

#OS junk
*.DS_Store

# Latex junk
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.toc
*.bbl
*.blg

#Datarun folder on the mac
output_2e_MC1e7/
