#Ignoring all build files that go into the binary folder
bin/*.o
*.stash
Makefile

# Ignoring all data files
output/*
output_run1/*


#OS junk
*.DS_Store

# Latex junk
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.toc